.markdown-preview {
  padding: 0.5rem;
  background: #1e1e1e;
  border-radius: 4px;
  color:antiquewhite;
  overflow: wrap;
  max-width: calc(100vw - 2rem);

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}